.page2-container{
    position: sticky;
    z-index:6;
    bottom:0;
    background-color:rgba(255, 115, 181, 1);
    margin-top:-4em;
    padding:1em 1em;
    color:rgba(4, 47, 26, 1);
}

.page2-container h1{
    padding:3em 1em 1em 1em;
    font-family: var(--ff-heading);
    text-transform:uppercase;
    font-size:2em;
}

.page2-container p{
    letter-spacing:1px;
    line-height:1.5em;
    padding:0em 1em 1em 1em;
}
.page2-container img{
    width:15em;
}

@media (min-width:380px) and (max-width:500px){
    .page2-container img{
        width:20em;
    }
}

@media (min-width:501px) and (max-width:765px){
    .page2-container img{
        width:25em;
    }
}

@media (min-width:760px) and (max-width:1020px){
    .page2-container img{
        width:30em;
        margin-left:10em;
    }

    .page2-container h1{
        font-size:3.8em;
        line-height:1.05em;
        transform:scale(1,1.2)
    }

    .page2-container p{
        font-size:1.2em;
        padding:0 5em;
    }
}

@media (min-width:1020px) and (max-width:1100px){
    .page2-container{
        padding:9em 3em 15em 3em;
        display:flex;
    }

    .page2-container img{
        width:25em;
        padding:0 2em 0 2em;
    }

    .page2-container h1{
        font-size:3.6em;
        line-height:1.06em;
        letter-spacing:-3px;
        transform:scale(1,1.2)
    }

    .page2-container p{
        font-size:1.2em;
        margin-left:2em;
    }
}

@media (min-width:1100px) and (max-width: 2000px){
    .page2-container img{
        width:50%;
    }

    .page2-container{
        height:auto;
        min-height:100vh;
        display:flex;
        padding:9em 3em 15em 3em;
    }

    .page2-container h1{
        width:100%;
        font-size:3.6em;
        line-height:1.06em;
        letter-spacing:-3px;
        transform:scale(1,1.5)
    }

    .page2-container p{
        font-size:1.2em;
        width:50%;
        margin-left:2em;
        margin-top:1em;
    }
}